<header ng-switch on="$location.path().indexOf('/Compras/new') > -1">
    <h3 ng-switch-when="true">Create a new Compra</h3>
    <h3 ng-switch-when="false">View or edit Compra</h3>
</header>
<form id="CompraForm" name="CompraForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': CompraForm.descripcion.$invalid}">
        <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
        <div id="descripcionControls" class="col-sm-10">
            <input id="descripcion" name="descripcion" type="text" required ng-maxlength="50" class="form-control" ng-model="compra.descripcion" placeholder="Enter the Compra Descripcion"></input>
            <span class="help-block error" ng-show="CompraForm.descripcion.$error.required">required</span> 
            <span class="help-block error" ng-show="CompraForm.descripcion.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CompraForm.valor.$invalid}">
        <label for="valor" class="col-sm-2 control-label">Valor</label>
        <div id="valorControls" class="col-sm-10">
            <input id="valor" name="valor" type="number" required class="form-control" ng-model="compra.valor" placeholder="Enter the Compra Valor"></input>
            <span class="help-block error" ng-show="CompraForm.valor.$error.required">required</span> 
            <span class="help-block error" ng-show="CompraForm.valor.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CompraForm.fechaCompra.$invalid}">
        <label for="fechaCompra" class="col-sm-2 control-label">Fecha Compra</label>
        <div id="fechaCompraControls" class="col-sm-10">
            <date id="fechaCompra" name="fechaCompra" required ng-model="compra.fechaCompra" placeholder="Enter the Compra Fecha Compra"></date>
            <span class="help-block error" ng-show="CompraForm.fechaCompra.$error.required">required</span> 
            <span class="help-block error" ng-show="CompraForm.fechaCompra.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CompraForm.productos.$invalid}">
        <label for="productos" class="col-sm-2 control-label">Productos</label>
        <div id="productosControls" class="col-sm-10">
            <select id="productos" name="productos" multiple class="form-control" ng-model="productosSelection" ng-options="p.text for p in productosSelectionList">
                <option value="">Choose a Productos</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CompraForm.ofertas.$invalid}">
        <label for="ofertas" class="col-sm-2 control-label">Ofertas</label>
        <div id="ofertasControls" class="col-sm-10">
            <select id="ofertas" name="ofertas" multiple class="form-control" ng-model="ofertasSelection" ng-options="o.text for o in ofertasSelectionList">
                <option value="">Choose a Ofertas</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCompra" name="saveCompra" class="btn btn-primary" ng-disabled="isClean() || CompraForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCompra" name="deleteCompra" class="btn btn-danger" ng-show="compra.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <img ng-if="Producto.pagoPSE === 'SI'" src="img/logopsenuevo.png" width="50px" height="50px"/>
        </div>
    </div>
</form>