			<div class="btn-menu" onclick="window.location.href = '#/Usuario'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Usuario
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Rol'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Rol
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Producto'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Producto
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Oferta'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Oferta
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Compra'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Compra
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Categoria'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Categoria
		    </div>
		
